@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    background: #F8F9FA;
}

.main-template {
    display: flex;
}

.menu-container {
    height: calc(100vh - 26px);
    background: #1D262F;
    padding: 13px 16px;
    min-width: 200px;
    max-width: 400px;
    overflow: auto;

    >a {
        display: flex;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        text-decoration: none;
        border-radius: 12px;
        padding: 12px 16px;
        margin-bottom: 8px;

        >svg {
            margin-right: 14px;
        }
    }

    .active-link {
        background: #fff;
        color: #1D262F;
        
        >svg {
            path {
                fill: #1D262F;
            }
        }
    }

    .menu-logo {
        margin: 0 auto;
        display: block;
        margin-bottom: 13px;
        aspect-ratio: 0.96;
        height: 50px;
    }
}

.page-wrapper {
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 100vh;

    .page-container {
        padding: 24px;
        border-radius: 16px;
        border: 1px solid #DADFE4;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    
        > h1 {
            margin: 0;
            margin-bottom: 16px;
        }
    
        .search-container {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            margin-bottom: 16px;
    
            input {
                max-width: 358px;
                width: 100%;
                height: 50px;
                border: 1px solid #BBC6CF;
                border-radius: 16px;
                padding-left: 16px;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
    
            thead, tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed; /* Ensures columns don't shrink */
            }

            th, td {
                padding: 16px;
                text-align: left;
            }
    
            th {
                color: #BBC6CF;
            }
            
            tr:nth-child(even) {
                background-color: #F2F5F7;
            }
    
            thead {
                border-bottom: 2px solid #BBC6CF;
            }
            
            tbody {
                display: block;
                overflow: auto;
                height: 100%;

                td {
                    color: #566875;
                }
            }
        }
    }
}

.primary-btn {
    background: #2065D1;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    padding: 13px 24px;
    gap: 8px;
    cursor: pointer;
    width: fit-content;
}

.form-cont {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    backdrop-filter: blur(2px);

    .form-inner {
        height: calc(100% - 88px);
        background: #fff;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 16px 0 0 16px;
        border: 2px solid #fff;
        max-width: 400px;
        width: 100%;
        padding: 52px 32px 32px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form-title {
            display: flex;
            justify-content: space-between;
            position: absolute;
            z-index: 2;
            top: 20px;
            left: 30px;
            right: 30px;

            >h3 {
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                color: #233044;
                margin: 0;
            }

            .close-icon {
                cursor: pointer;
            }
        }

        .form-btns {
            margin-top: 16px;
        }

        .primary-form-btn {
            background: #2065D1;
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            border-radius: 12px;
            padding: 13px 0px;
            gap: 8px;
            cursor: pointer;
            width: 100%;
            margin-bottom: 20px;
        }

        .secondary-form-btn {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            padding: 13px 0px;
            gap: 8px;
            border-radius: 12px;
            border: 1px solid #2065D1;
            width: 100%;
            text-align: center;
        }

        .input-cont {
            margin-top: 24px;
        }

        .form-inner-fields {
            height: calc(100% - 150px);
            overflow: auto;
        }
    }
}

.form-default-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    
    >label {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        color: #566875;
        margin-bottom: 4px;
    }

    >input {
        gap: 10px;
        border-radius: 12px;
        border: 1px solid #BBC6CF;
        padding: 14px 16px;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        color: #1D262F;
    }

    .autocomplete {
        >div {
            gap: 10px;
            border-radius: 12px;
            border: 1px solid #BBC6CF;
            padding: 14px 16px;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            color: #1D262F;
        }
    }
}

.form-default-checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    >label:first-child {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        color: #566875;
        margin-bottom: 4px;
    }

    .checkbox-toggle {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .checkbox-dot {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F8F9FA;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 16px;
        border: 1px solid #BBC6CF;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 3px;
            background: #2065D1;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
          }
    }

    input:checked + .checkbox-dot {
        background-color: #2065D1;
    }
      
    input:checked + .checkbox-dot:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background: #fff;
    }
    
    input {
        opacity: 0;
    }
}

.context-menu {
    position: absolute;
    border: 1px solid #DADFE4;
    background: #F8F9FA;
    border-radius: 12px;
    
    >span {
        display: block;
        padding: 8px 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
        border-bottom: 0.5px solid #DADFE4;

        :last-child {
            border-bottom: none;
        }
    }
}

.red-text {
    color: #FF5D5B;
}

.popup-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);

    .popup {
        background-color: #fff;
        padding: 24px 32px;
        border-radius: 24px;
        border: 1px #DADFE4 solid;

        .title {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
            color: #233044;
            margin-bottom: 4px;
        }

        .subtitle {
            text-align: center;
            margin: 0;
            margin-bottom: 24px;
        }

        .buttons {
            display: flex;
            gap: 8px;

            > * {
                flex: 1;
            }

            .delete-btn {
                background: red;
            }

            .cancel-btn {
                background: transparent;
                color: #233044;
                border: 1px #DADFE4 solid;
            }
        }
    }
}


::-webkit-scrollbar {
    width: 0px;
}

.hidden {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.delete-product-btn {
    font-family: DM Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #FF5D5B;
    background: unset;
    margin: 0 auto;
}

.notification-cont {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 24px;
    display: flex;
    flex-wrap: wrap;
    z-index: 99;
    

    .notification {
        display: flex;
        align-items: center;
        border-radius: 16px;
        padding: 16px;
        gap: 10px;
        border: 2px solid #06C855;
        background: #F0F6F2;
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .success-icon {
        margin-right: 16px;
    }
    
    .title {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #1D262F;
        margin: 0;
        margin-bottom: 6px;
    }

    .subtitle {
        font-family: DM Sans;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
        color: #3B4650;
        margin: 0;
    }
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    color: #233044;
    position: relative;
  
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: spin 1s linear infinite;
    }
  
    &::after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: 0.4s;
    }
}
  
@keyframes rotate {
0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
}
100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
}
}

@keyframes rotateccw {
0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(-360deg);
}
}

@keyframes spin {
0%,
100% {
    box-shadow: 0.2em 0 0 0 currentcolor;
}
12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
}
25% {
    box-shadow: 0 0.2em 0 0 currentcolor;
}
37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
}
50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
}
62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
}
75% {
    box-shadow: 0 -0.2em 0 0 currentcolor;
}
87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
}
}

.loader-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}