@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    background: #F8F9FA;
}

.main-template {
    display: flex;
}

.menu-container {
    height: calc(100vh - 26px);
    background: #1D262F;
    padding: 13px 16px;
    min-width: 200px;
    max-width: 400px;

    >a {
        display: flex;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        text-decoration: none;
        border-radius: 12px;
        padding: 12px 16px;
        margin-bottom: 8px;

        >svg {
            margin-right: 14px;
        }
    }

    .active-link {
        background: #fff;
        color: #1D262F;
        
        >svg {
            path {
                fill: #1D262F;
            }
        }
    }

    .menu-logo {
        margin: 0 auto;
        display: block;
        margin-bottom: 13px;
        aspect-ratio: 0.96;
        height: 50px;
    }
}

.page-container {
    margin: 16px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #DADFE4;
    width: 100%;
}

.primary-btn {
    background: #2065D1;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    padding: 13px 24px;
    gap: 8px;
    cursor: pointer;
    width: fit-content;
}

.form-cont {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    backdrop-filter: blur(2px);

    .form-inner {
        height: calc(100% - 68px);
        background: #fff;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 16px 0 0 16px;
        border: 2px solid #fff;
        max-width: 400px;
        width: 100%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .form-title {
            display: flex;
            justify-content: space-between;

            >h3 {
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
                color: #233044;
                margin: 0;
            }

            .close-icon {
                cursor: pointer;
            }
        }

        .form-btns {
            margin-top: 16px;
        }

        .primary-form-btn {
            background: #2065D1;
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            border-radius: 12px;
            padding: 13px 0px;
            gap: 8px;
            cursor: pointer;
            width: 100%;
            margin-bottom: 20px;
        }

        .secondary-form-btn {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            padding: 13px 0px;
            gap: 8px;
            border-radius: 12px;
            border: 1px solid #2065D1;
            width: 100%;
            text-align: center;
        }

        .input-cont {
            margin-top: 24px;
        }
    }
}

.form-default-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    
    >label {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        color: #566875;
        margin-bottom: 4px;
    }

    >input {
        gap: 10px;
        border-radius: 12px;
        border: 1px solid #BBC6CF;
        padding: 14px 16px;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        color: #1D262F;
    }
}

.form-default-checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    >label:first-child {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        color: #566875;
        margin-bottom: 4px;
    }

    .checkbox-toggle {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .checkbox-dot {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F8F9FA;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 16px;
        border: 1px solid #BBC6CF;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 3px;
            background: #2065D1;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
          }
    }

    input:checked + .checkbox-dot {
        background-color: #2065D1;
    }
      
    input:checked + .checkbox-dot:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        background: #fff;
    }
    
    input {
        opacity: 0;
    }
}