.menupage-container {
    padding: 16px 24px;
    width: 100%;
    height: calc(100vh - 32px);
    position: relative;
    overflow: hidden;

    >h1 {
        margin: 0;
        color: #233044;
    }

    .no-category-cont {
        margin-top: 16px;
        max-width: 305px;
        width: 100%;
        border-radius: 16px;
        border: 1px solid #DADFE4;
        background: #FFF;
        min-width: 235px;

        svg {
            path {
                fill: #1E1E1E;
            }
        }

        .no-category-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 12px;
            margin: 24px;
            gap: 8px;
            background: #F8F9FA;
            padding: 40px 24px;

            *:not(:last-child) {
                margin-bottom: 24px;
            }

            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
            }
        }
    }

    .no-product {
        margin-top: 0px;
        margin-left: 16px;
        height: fit-content;
        min-width: 235px;
    }

    .main-menu-cont {
        height: calc(100% - 48px);
        margin-top: 16px;
        display: flex;
        width: calc(100% - 1px);
        overflow-x: auto;

        .category-list {
            max-width: 305px;
            width: 100%;
            height: calc(100% - 2px);
            border-radius: 16px;
            border: 1px #DADFE4 solid;
            background: #FFF;
            position: relative;
            min-width: 235px;
        
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                height: calc(100% - 72px);
                position: relative;
                overflow-y: auto;

                li {
                    position: relative;
                    font-family: DM Sans;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0%;
                    padding: 15px 24px;
                    color: #1D262F;
                    border-bottom: 1px #F2F5F7 solid;
                    cursor: pointer;
                }

                li::after {
                    content: '\003E';
                    position: absolute;
                    right: 24px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: DM Sans;
                    font-weight: 700;
                    color: #1D262F;
                }
            }

            .btn_list {
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 80px);
            }
        }

        .extra_list {
            margin-left: 16px;
        }

        .product-list {
            max-width: 305px;
            width: 100%;
            height: calc(100% - 2px);
            border-radius: 16px;
            border: 1px #DADFE4 solid;
            background: #FFF;
            margin-left: 16px;
            position: relative;
            min-width: 235px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                height: calc(100% - 72px);
                position: relative;
                overflow-y: auto;

                li {
                    cursor: pointer;
                    padding: 15px 24px;
                    border-bottom: 1px #F2F5F7 solid;
                    h4 {
                        font-family: DM Sans;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0%;
                        margin: 0;
                        margin-bottom: 4px;
                    }
                }
            }

            .btn_list {
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 80px);
            }
        }
    }
}

